<ion-content>
  <!-- Mandatory id="fullscreen" -->
  <div id="fullscreen" slot="fixed"></div>
  <ion-row *ngIf="!isSuccess" class="w-100 h-100 ion-justify-content-center ion-align-items-center">
    <div class="ion-text-center">
      <ion-text color="primary">
        <h1>Oops!!!</h1>
      </ion-text>
      <br>
      <ion-text color="primary">
        Có lỗi xảy ra. Vui lòng thử lại sau.
      </ion-text>
      <br>
      <ion-text color="primary">
        Trở về trang trước sau
        <div class="bg-transparent p-relative countdown ion-margin-top mx-auto">
          {{ counter }}
          <div class="timer countdown" [style]="'--duration: ' + timer">
            <div class="mask"></div>
          </div>
        </div>
      </ion-text>
    </div>
  </ion-row>
</ion-content>