<ion-header [translucent]="true" class="ion-no-border" *ngIf="movies.length > 0">
  <ion-toolbar>
    <ion-title>Kết quả tìm kiếm</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="movies = []">
        <ion-icon slot="icon-only" ios="close-circle-outline" md="close-circle-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item lines="none" class="radius">
    <ion-input [(ngModel)]="str" placeholder="Tìm theo tên, đạo diễn, diễn viên..."></ion-input>
    <ion-icon ios="search-outline" md="search-sharp" slot="end" (click)="search()"></ion-icon>
  </ion-item>
  <div class="ion-margin ion-padding-vertical">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <div class="line ion-margin-end"></div>
      <span>{{ movies.length > 0 ? 'Kết quả tìm kiếm' : 'hoặc' }}</span>
      <div class="line ion-margin-start"></div>
    </ion-row>
    <ion-button *ngIf="movies.length === 0" (click)="openModal()" expand="block" fill="clear" shape="round" mode="ios">
      Tìm kiếm nâng cao
    </ion-button>
  </div>
  <div *ngIf="movies.length > 0">
    <ion-row *ngFor="let movie of movies" class="ion-margin-top flex-no-wrap" [routerLink]="['/phim', movie.slug]"
      routerLinkActive="router-link-active">
      <ion-img class="radius thumb ion-margin-end" [src]="movie.poster_url || movie?.thumb_url"></ion-img>
      <ion-row class="flex-column">
        <div class="">{{ movie.name }}</div>
        <ion-text class="f-12 grow-1" color="medium">{{ movie.year }}</ion-text>
        <div class="ion-align-self-">
          <ion-chip class="ion-no-margin" [color]="getStatusColor(movie?.status)">
            {{ getStatus(movie?.status) }}
          </ion-chip>
        </div>
      </ion-row>
    </ion-row>
    <ion-infinite-scroll (ionInfinite)="search($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Đang tải phim...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>